<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Account
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="onSettingsClick($event)">
                <ion-icon ios="ios-cog-outline" md="md-cog"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="tab">
            <ion-segment-button value="balances">
                Balances
            </ion-segment-button>
            <ion-segment-button value="trades">
                Trades
            </ion-segment-button>
            <ion-segment-button value="offers">
                Orders
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-spinner *ngIf="loading"></ion-spinner>
    <div *ngIf="!loading">
        <div [ngSwitch]="tab">
            <div *ngSwitchCase="'balances'">
                <ion-list no-border>
                    <ion-item>
                        <b>USDT</b>
                        <ion-note item-end>
                            ${{usdtBalance?.available}}
                        </ion-note>
                    </ion-item>
                    <ion-item>
                        <b>Estimated value of holdings</b>
                        <ion-note item-end>
                            ${{holdings}}
                        </ion-note>
                    </ion-item>
                </ion-list>

                <ion-grid *ngIf="balances?.length">
                    <ion-row>
                        <ion-col col-3>
                            Coin
                        </ion-col>
                        <ion-col col-5>
                            Available
                        </ion-col>
                        <ion-col col-4 class="right-text">
                            US$ Estimation
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-list no-border *ngIf="balances?.length">
                    <button ion-item *ngFor="let balance of balances" (click)="onCoinClick(balance)">
                        <ion-row style="font-size: 14px;">
                            <ion-col col-2>
                                <b>{{balance.coin}}</b>
                            </ion-col>
                            <ion-col col-4 offset-1>
                                {{balance.available}}
                            </ion-col>
                            <ion-col col-3 offset-2 style="text-align: right">
                                ${{balance.usdtValue}}
                            </ion-col>
                        </ion-row>
                    </button>
                </ion-list>

                <div class="center" *ngIf="!balances?.length">
                    You don't have any crypto currencies.
                </div>
            </div>

            <div *ngSwitchCase="'trades'">
                <ion-list no-border *ngFor="let market of trades">
                    <ion-list-header>
                        {{market.market}}
                    </ion-list-header>
                    <ion-item *ngFor="let trade of market.data">
                        <ion-row style="font-size: 14px;">
                            <ion-col col-2>
                                <span *ngIf="trade.type === 'buy'" style="color: red">Buy</span>
                                <span *ngIf="trade.type === 'sell'" style="color: green">Sell</span>
                            </ion-col>
                            <ion-col col-4 offset-1>
                                {{trade.amount}}
                            </ion-col>
                            <ion-col col-3>
                                @{{utils.formatNb(trade.rate)}} {{market.market.split(' ')[0]}}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngSwitchCase="'offers'">
                <div padding class="center" *ngIf="!orders?.length">
                    You don't have any open orders.
                </div>

                <div *ngIf="orders?.length">
                    <ion-list no-border *ngFor="let market of orders">
                        <ion-list-header>
                            {{market.market}}
                        </ion-list-header>
                        <ion-item *ngFor="let trade of market.data">
                            <ion-row style="font-size: 14px;">
                                <ion-col col-2>
                                    <span *ngIf="trade.type === 'buy'" style="color: red">Buy</span>
                                    <span *ngIf="trade.type === 'sell'" style="color: green">Sell</span>
                                </ion-col>
                                <ion-col col-4 offset-1>
                                    {{trade.amount}}
                                </ion-col>
                                <ion-col col-3>
                                    @{{trade.rate}}
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </div>
</ion-content>